@import "vars";

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Ropa+Sans:400,400i');

:root {
    --color-bg: #{$color-bg};
    --color-main: #{$color-main};
    --color-accent: #{$color-accent};
    --color-subdue: #{$color-subdue};
}

body {
    background: var(--color-bg);
    color: var(--color-main);
    font-family: 'Muli', sans-serif;
}

.reveal {
  h1 {
    font-family: 'Ropa Sans', sans-serif;
    color:  var(--color-main);
    font-size: 9.6rem;
    font-weight: 900;
    letter-spacing: 0;
    margin-bottom: 1rem;
  }

  h2  {
    font-family: "Muli", sans-serif;
    color:  var(--color-main);
    font-size: 4.4rem;
    margin-bottom: 1rem;

    pre {
      display: inline;
      font-size: inherit;
    }
  }

  pre {
    font-family: "Ubuntu Mono", monospace;
    text-align: left;
    display: inline-block;
    font-size: 2rem;

    code {
      &.dimmed {
        color: var(--color-subdue);
      }

      &.highlighted {
        color: var(--color-accent);
      }
    }
  }

  section img {
    border: none;
    background: none;
    box-shadow: none;
  }

  /* Control arrows */
  .controls {
    div.navigate-left, div.navigate-left.enabled {
      border-right-color: var(--color-accent);
    }

    div.navigate-right, div.navigate-right.enabled {
      border-left-color: var(--color-accent);
    }

    div.navigate-up, div.navigate-up.enabled {
      border-bottom-color: var(--color-accent);
    }

    div.navigate-down, div.navigate-down.enabled {
      border-top-color: var(--color-accent);
    }
  }

  /* Progress bar */
  .progress span {
    background-color: var(--color-accent);
  }

  /* Utils */
  .uppercased  {
    text-transform: uppercase;
  }

  .light {
    font-weight: 100;
  }

  section {
    &.title-slide {
      height: 100%;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
    }

    &.to-middle {
      min-height: 50%;
      display: flex !important;
      flex-direction: column;
      justify-content: flex-end;
    }

    &.contact {
      text-align: right;
    }

    &.just-sentence {
      //position: relative;
      height: 100%;
      top: 0;
      bottom: 0;


      > * {
        position: absolute;
        bottom: 50%;
        width: 100%;
        left: 0;
      }

      > pre {
        font-size: 4.4rem;
      }
    }
  }
}

.logo {
  &.scalac {
    width: 50%;
    margin: 0 auto 10%;
  }
}


