extends slide

block title
    | List of operators

block layout
    h1(style='text-align: center'): a(href='https://github.com/Reactive-Extensions/RxJS/blob/master/doc/gettingstarted/categories.md') Operators
