extends slide

block title
    | UX Improvements

block layout
    - var index = '05';
    .xp-column: xp-editor
        +includeFile(index, 'app/components/App/App.ts', '22,23')
        +includeFile('01', 'app/PixabaySearcher.ts')
        +includeFile('04', 'app/components/App/my-app.html')
    .xp-column
        +previewTs
    +invisibleEditor('01', [
        'node_modules/angular2/bootstrap.js',
        'app/app.ts',
        'app/components/Image/Image.ts',
        'index.html',
        'config.js'
    ])
