extends ../presentation-template

block title
    | Why dont I test private methods

block slides
    +titleSlide("Why I don't test private methods", true)

    +slide
        h2 What is the unit in unit testing?

        +slide

        +slide function/method?
        +slide class?
        +slide object?
        +slide module?

    +slide
        h2 What's the purpose of unit testing?

    +slide
        p Let's have such (pseudo)code

        pre: code.typescript.
            class Wizard {
                public goNext () {
                    this.validateCurrentStep();
                    const nextStep = this.getNextStep();

                    this.goToStep(nextStep);
                }

                public goBack () {
                    this.validateCurrentStep();
                    const previousStep = this.getPreviousStep();

                    this.goToStep(previousStep);
                }

                private goToStep (step) {...}
                private validateCurrentStep () {...}
                private getNextStep () {}
                private getPreviousStep () {}
            }

    +slide
        h2 Encapsulation

    +slide
        h2 Single Responsiblity Principle

    +slide
        h2 Open-closed Principle

    +slide
        h2 Liskov Substitution Principle

    +finalSlide(false)
