extends ../presentation-template

block title
    | Types in TypeScript

block slides
    +titleSlide('Types in TypeScript')

    +slide
        h2 Czy ja w ogólę potrzebuję jakichś tam typów?

    +slide
        h2 No dobra, to jak je w ogóle zadeklarować?

    +slide
        h2 Ano tak:
        pre: code.typescript.
            let variable: SomeType;
            const constant : SomeClass = new SomeClass()

            function (arg: ArgType) : ReturnType {}

    +slide
        h2 Typy podstawowe
        ul
            li Boolean/boolean
            li Number/number
            li String/string

    +slide
        h2 Ej, ej, a te z []?
        pre: code.typescript.
            let variable1 : Type[]; //Tablica obiektów typu "type"
            let variable2: Array&lt;Type&gt;; // jak wyżej
            let variable3 : [Type1, Type2]; //Krotka (tuple)

    +slide
        h2 To jak mam opisać np. produkt?
        pre: code.typescript.
            class Product {
                constructor (public name: string, public price: number) {}
            }

            type Product = {
                name: string;
                price: number;
            }

            interface Product {
                name: string;
                price: number;
            }

    +slide
        h2 A jak zrobić opcjonalne pole z opisem?

    +slide
        h2 Pole opcjonalne
        pre: code.typescript.
            interface Product {
                ...
                description?: string;
            }

            interface Product {
                ...
                description: string | null;
            }

            interface Product {
                ...
                description: string | undefined;
            }

    +slide
        h2 No ok, ale chcę dodać paginację, nie będę robił przecież paginatora dla każdej encji!

    +slide
        h2 Nie, zdefiniujesz typ generyczny, o tak:
        pre: code.typescript.
            class Paginator&lt;T&gt; {
                constructor (private allElements: T[]) {}

                getPage (nr: number): T[] {}
            }

    +slide
        h2 A jak mam niby zdefiniować, że w danej zmiennej może być cokolwiek? Np. w jakimś kliencie Http?

    +slide
        pre: code.typescript.
            interface HttpClient {
                post (url: string, data: any): Promise&lt;any&gt;
                put (url: string, data: object): Promise&lt;any&gt;
                patch (url: string, data: Object): Promise&lt;any&gt;
            }

    +slide
        h2 Ale takie jQuery na przykład jeszcze ma callbacka, ja też chcę!

    +slide
        pre: code.typescript.
            interface HttpClient {
                get (url: string, callback: (data: any) =&gt; void): void;
                delete (url: string, callback: (data: any) =&gt; void): void;
            }

    +slide
        h2 A czy mogę jakoś zrobić, by moja wewnętrzna metoda "makeRequest" mogła przyjmować tylko określone wartości?

    +slide
        h2 Tak, z union types albo enumami
        pre: code.typescript.
            type HttpMethod = "get" | "post" | "delete";

            makeRequest("get");

            enum HttpMethod {Get, Post, Delete};

            makeRequest(HttpMethod.Get);

    +slide
        h2 Ale to "any" praktycznie wyłącza mi tam sprawdzanie typów!
        pre: code.typescript.
            interface HttpClient {
                get&lt;T&gt;(url: string): Promise&lt;T&gt;;
            }

            function makeGet&lt;T&gt; (url: string): Promise&lt;T&gt; {};

            const makeGet = &lt;T&gt;(url: string): Promise&lt;T&gt; => {}

    +slide
        h2 No ok, a co jak się spodziewam, że mam jakiś konkretny typ a deklaracje mówią inaczej?

    +slide
        h2 Na to są 2 rozwiązania:
        ul
            li Rzutowanie
            li Type guard

    +slide
        h2 Rzutowanie
        pre: code.typescript.
            let variable: string|number;

            const string1 = variable as string;
            const string2 = &lt;string&gt;variable;

    +slide
        h2 Type guard
        pre: code.typescript.
            function isProduct (product: any) product is Product {
                return product.name && product.price;
            }

            let productOrCategory: Product | Category;

            if (isProduct(productOrCategory)) {
                //Product
            }

    +slide
        h2 No działa, ale jak mam wyświetlić listę wyników wyszukiwania, na której są i produkty i kategorie?

    +slide
        h2 1. opcja - union types
        pre: code.typescript.
            interface Category {
                name: string;
                image: string;
                products: Product[];
            }

            interface Product {
                name: string;
                image: string;
                price: Money;
            }

            type SearchResultItem = Category | Product;

            let item : SearchResultItem;
            item.name; //OK;
            item.image; //OK;
            item.price //Error

    +slide
        h2 2. opcja - bazowy interfejs
        pre: code.typescript.
            interface ShopItem {
                name: string;
                image: string;
            }

            interface Category extends ShopItem {
                products: Product[];
            }

            interface Product extends ShopItem {
                price: Money;
            }

            type SearchResultItem = ShopItem;

            let item : SearchResultItem;
            item.name; //OK;
            item.image; //OK;
            item.price //Error

    +slide
        h2 No, prawie, działa, bo backend do wyniku wyszukiwania dodaje link do szczegółów...
        pre: code.typescript.
            type WithDetailsLink = {detailsUrl: string;};
            type ProductOrCategory = Product | Category;

            type SearchResultsItem = ProductOrCategory & WithDetailsLink;

            let item : SearchResultsItem;
            item.detailsUrl; // OK

    +slide
        h2 Swoją drogą, w JS Intersection Types są dość popularne w różnych bibliotekach:
        pre: code.typescript.
            function assign&lt;T, U&gt; (t: T, u: U): T&U {}

    +slide
        h2 Podobnie jak te kilka wytrychów:
        pre: code.typescript.
            type Flags = { [name: string]: boolean};
            type Flags = Record&lt;string, boolean&gt;

            function get&lt;T, U extends keyof T&gt;(obj: T, key: U): T[U] {}

            type Partial&lt;T&gt; = { //wbudowane w TypeScript
                [P in keyof T]?: T[P];
            }

    +slide
        h2 PS. Dla użytkowników reduxa
        pre: code.typescript.
            const ADD_PRODUCT = 'AddProduct';
            interface AddProductAction {
                type: typeof ADD_PRODUCT;
                payload: Product;
            }

            const REMOVE_PRODUCT = 'RemoveProduct';
            interface RemoveProductAction {
                type: typeof REMOVE_PRODUCT;
                payload: string;
            }

            type ProductAction = AddProductAction | RemoveProductAction;

            function handleProduct(action: ProductAction) {
                switch (action.type) {
                    case ADD_PRODUCT:
                        //action.payload is Product
                    case REMOVE_PRODUCT:
                        //action.payload is string
                }
            }

    +finalSlide
